@font-face {
  font-family: 'fontaweswimm';
  src: url('fonts/fontaweswimm.ttf') format('truetype'),
    url('fonts/fontaweswimm.woff') format('woff'),
    url('fonts/fontaweswimm.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontaweswimm' !important;
  speak: never;
  font-style: normal;
  /* font-weight: normal; */
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Automatic class generation: start */

.icon-Text:before {
  content: "\e900";
}


.icon-add:before {
  content: "\e901";
}


.icon-arrow-down:before {
  content: "\e902";
}


.icon-arrow-left:before {
  content: "\e903";
}


.icon-arrow-right:before {
  content: "\e904";
}


.icon-arrow-up:before {
  content: "\e905";
}


.icon-back-browsing:before {
  content: "\e906";
}


.icon-bell:before {
  content: "\e907";
}


.icon-bitbucket:before {
  content: "\e908";
}


.icon-bold:before {
  content: "\e909";
}


.icon-branch:before {
  content: "\e90a";
}


.icon-briefcase:before {
  content: "\e90b";
}


.icon-calendar:before {
  content: "\e90c";
}


.icon-chat:before {
  content: "\e90d";
}


.icon-check:before {
  content: "\e90e";
}


.icon-close:before {
  content: "\e90f";
}


.icon-code-fill:before {
  content: "\e910";
}


.icon-commit-sha:before {
  content: "\e911";
}


.icon-copy:before {
  content: "\e912";
}


.icon-credit-card:before {
  content: "\e913";
}


.icon-crown:before {
  content: "\e914";
}


.icon-database:before {
  content: "\e915";
}


.icon-dev:before {
  content: "\e916";
}


.icon-discard:before {
  content: "\e917";
}


.icon-doc:before {
  content: "\e918";
}


.icon-drag:before {
  content: "\e919";
}


.icon-duplicate:before {
  content: "\e91a";
}


.icon-edit-fill:before {
  content: "\e91b";
}


.icon-edit-outline:before {
  content: "\e91c";
}


.icon-email:before {
  content: "\e91d";
}


.icon-enter:before {
  content: "\e91e";
}


.icon-expand:before {
  content: "\e91f";
}


.icon-explore:before {
  content: "\e920";
}


.icon-eye:before {
  content: "\e921";
}


.icon-facebook:before {
  content: "\e922";
}


.icon-file:before {
  content: "\e923";
}


.icon-flash:before {
  content: "\e924";
}


.icon-folder-open:before {
  content: "\e925";
}


.icon-folder:before {
  content: "\e926";
}


.icon-gerrit:before {
  content: "\e927";
}


.icon-github:before {
  content: "\e928";
}


.icon-gitlab:before {
  content: "\e929";
}


.icon-globe:before {
  content: "\e92a";
}


.icon-help:before {
  content: "\e92b";
}


.icon-home:before {
  content: "\e92c";
}


.icon-hooray:before {
  content: "\e92d";
}


.icon-image:before {
  content: "\e92e";
}


.icon-instagram:before {
  content: "\e92f";
}


.icon-integrations:before {
  content: "\e930";
}


.icon-interactive:before {
  content: "\e931";
}


.icon-ios:before {
  content: "\e932";
}


.icon-italic:before {
  content: "\e933";
}


.icon-lifebuoy-outline:before {
  content: "\e934";
}


.icon-like:before {
  content: "\e935";
}


.icon-liked:before {
  content: "\e936";
}


.icon-link:before {
  content: "\e937";
}


.icon-linkedin:before {
  content: "\e938";
}


.icon-linux:before {
  content: "\e939";
}


.icon-long-arrow-left:before {
  content: "\e93a";
}


.icon-long-arrow-right:before {
  content: "\e93b";
}


.icon-magic:before {
  content: "\e93c";
}


.icon-markdown:before {
  content: "\e93d";
}


.icon-minimize:before {
  content: "\e93e";
}


.icon-more:before {
  content: "\e93f";
}


.icon-next-browsing:before {
  content: "\e940";
}


.icon-ol:before {
  content: "\e941";
}


.icon-outbound-link:before {
  content: "\e942";
}


.icon-overview:before {
  content: "\e943";
}


.icon-pencil:before {
  content: "\e944";
}


.icon-pending:before {
  content: "\e945";
}


.icon-pin:before {
  content: "\e946";
}


.icon-plan:before {
  content: "\e947";
}


.icon-plans:before {
  content: "\e948";
}


.icon-play-outline:before {
  content: "\e949";
}


.icon-playlist:before {
  content: "\e94a";
}


.icon-plugins:before {
  content: "\e94b";
}


.icon-private:before {
  content: "\e94c";
}


.icon-refresh:before {
  content: "\e94d";
}


.icon-repo-provider:before {
  content: "\e94e";
}


.icon-resize-expand:before {
  content: "\e94f";
}


.icon-resize-shrink:before {
  content: "\e950";
}


.icon-search:before {
  content: "\e951";
}


.icon-send:before {
  content: "\e952";
}


.icon-share:before {
  content: "\e953";
}


.icon-shortcut:before {
  content: "\e954";
}


.icon-shrink:before {
  content: "\e955";
}


.icon-signout:before {
  content: "\e956";
}


.icon-simplified-code:before {
  content: "\e957";
}


.icon-snippet-highlight:before {
  content: "\e958";
}


.icon-sort:before {
  content: "\e959";
}


.icon-star-filled:before {
  content: "\e95a";
}


.icon-star-outline:before {
  content: "\e95b";
}


.icon-start-outline:before {
  content: "\e95c";
}


.icon-stats:before {
  content: "\e95d";
}


.icon-strike:before {
  content: "\e95e";
}


.icon-sync:before {
  content: "\e95f";
}


.icon-task:before {
  content: "\e960";
}


.icon-team:before {
  content: "\e961";
}


.icon-terminal:before {
  content: "\e962";
}


.icon-text-bullet:before {
  content: "\e963";
}


.icon-time:before {
  content: "\e964";
}


.icon-trash-fill:before {
  content: "\e965";
}


.icon-trash-outline:before {
  content: "\e966";
}


.icon-tutorial:before {
  content: "\e967";
}


.icon-twitter:before {
  content: "\e968";
}


.icon-ul:before {
  content: "\e969";
}


.icon-unavailable:before {
  content: "\e96a";
}


.icon-update:before {
  content: "\e96b";
}


.icon-updated:before {
  content: "\e96c";
}


.icon-upload:before {
  content: "\e96d";
}


.icon-video:before {
  content: "\e96e";
}


.icon-warning:before {
  content: "\e96f";
}


.icon-window-unavailable:before {
  content: "\e970";
}


.icon-windows:before {
  content: "\e971";
}


.icon-workflow:before {
  content: "\e972";
}


.icon-workspace:before {
  content: "\e973";
}

/* Automatic class generation: end */
