@font-face {
  font-family: 'fontaweswimm';
  src: url('fonts/fontaweswimm.ttf') format('truetype'),
    url('fonts/fontaweswimm.woff') format('woff'),
    url('fonts/fontaweswimm.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontaweswimm' !important;
  speak: never;
  font-style: normal;
  /* font-weight: normal; */
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Automatic class generation: start */

.icon-Text:before {
  content: "\e900";
}


.icon-add:before {
  content: "\e901";
}


.icon-arrow-down:before {
  content: "\e902";
}


.icon-arrow-left:before {
  content: "\e903";
}


.icon-arrow-next-down:before {
  content: "\e904";
}


.icon-arrow-next-up:before {
  content: "\e905";
}


.icon-arrow-right:before {
  content: "\e906";
}


.icon-arrow-up:before {
  content: "\e907";
}


.icon-assign:before {
  content: "\e908";
}


.icon-assignment-complete:before {
  content: "\e909";
}


.icon-back-browsing:before {
  content: "\e90a";
}


.icon-bell:before {
  content: "\e90b";
}


.icon-binocular-outline:before {
  content: "\e90c";
}


.icon-binocular:before {
  content: "\e90d";
}


.icon-bitbucket:before {
  content: "\e90e";
}


.icon-bold:before {
  content: "\e90f";
}


.icon-bookmark:before {
  content: "\e910";
}


.icon-branch-file-changed:before {
  content: "\e911";
}


.icon-branch-merged-pr:before {
  content: "\e912";
}


.icon-branch:before {
  content: "\e913";
}


.icon-briefcase:before {
  content: "\e914";
}


.icon-broken-image:before {
  content: "\e915";
}


.icon-calendar:before {
  content: "\e916";
}


.icon-card-view:before {
  content: "\e917";
}


.icon-chat:before {
  content: "\e918";
}


.icon-check-fill:before {
  content: "\e919";
}


.icon-check-outline:before {
  content: "\e91a";
}


.icon-check:before {
  content: "\e91b";
}


.icon-checklist:before {
  content: "\e91c";
}


.icon-clock:before {
  content: "\e91d";
}


.icon-close:before {
  content: "\e91e";
}


.icon-cloud:before {
  content: "\e91f";
}


.icon-code-coupled:before {
  content: "\e920";
}


.icon-code-fill:before {
  content: "\e921";
}


.icon-codeblock:before {
  content: "\e922";
}


.icon-collapse-arrow:before {
  content: "\e923";
}


.icon-collapse-side:before {
  content: "\e924";
}


.icon-commit-sha:before {
  content: "\e925";
}


.icon-community:before {
  content: "\e926";
}


.icon-confluence:before {
  content: "\e927";
}


.icon-copy:before {
  content: "\e928";
}


.icon-credit-card:before {
  content: "\e929";
}


.icon-crown:before {
  content: "\e92a";
}


.icon-database:before {
  content: "\e92b";
}


.icon-deleted:before {
  content: "\e92c";
}


.icon-dev:before {
  content: "\e92d";
}


.icon-discard:before {
  content: "\e92e";
}


.icon-doc-files-changed:before {
  content: "\e92f";
}


.icon-doc-lock:before {
  content: "\e930";
}


.icon-doc-read:before {
  content: "\e931";
}


.icon-doc-request:before {
  content: "\e932";
}


.icon-doc:before {
  content: "\e933";
}


.icon-drag-handle-options:before {
  content: "\e934";
}


.icon-drag:before {
  content: "\e935";
}


.icon-duplicate:before {
  content: "\e936";
}


.icon-edit-fill:before {
  content: "\e937";
}


.icon-edit-outline:before {
  content: "\e938";
}


.icon-editing:before {
  content: "\e939";
}


.icon-email:before {
  content: "\e93a";
}


.icon-emoji:before {
  content: "\e93b";
}


.icon-energy:before {
  content: "\e93c";
}


.icon-enter:before {
  content: "\e93d";
}


.icon-everything:before {
  content: "\e93e";
}


.icon-expand-arrow:before {
  content: "\e93f";
}


.icon-expand:before {
  content: "\e940";
}


.icon-explore:before {
  content: "\e941";
}


.icon-eye:before {
  content: "\e942";
}


.icon-facebook:before {
  content: "\e943";
}


.icon-file-create:before {
  content: "\e944";
}


.icon-file-internal:before {
  content: "\e945";
}


.icon-file:before {
  content: "\e946";
}


.icon-filter:before {
  content: "\e947";
}


.icon-flash:before {
  content: "\e948";
}


.icon-flow-chart:before {
  content: "\e949";
}


.icon-folder-internal:before {
  content: "\e94a";
}


.icon-folder-open:before {
  content: "\e94b";
}


.icon-folder:before {
  content: "\e94c";
}


.icon-gerrit:before {
  content: "\e94d";
}


.icon-giphy:before {
  content: "\e94e";
}


.icon-git-integrated:before {
  content: "\e94f";
}


.icon-git-not-integrated:before {
  content: "\e950";
}


.icon-github:before {
  content: "\e951";
}


.icon-gitlab:before {
  content: "\e952";
}


.icon-globe:before {
  content: "\e953";
}


.icon-guided-creation:before {
  content: "\e954";
}


.icon-help:before {
  content: "\e955";
}


.icon-hint:before {
  content: "\e956";
}


.icon-home:before {
  content: "\e957";
}


.icon-hooray:before {
  content: "\e958";
}


.icon-hourglass:before {
  content: "\e959";
}


.icon-html:before {
  content: "\e95a";
}


.icon-icon-save:before {
  content: "\e95b";
}


.icon-image:before {
  content: "\e95c";
}


.icon-import:before {
  content: "\e95d";
}


.icon-info-fill:before {
  content: "\e95e";
}


.icon-info-outline:before {
  content: "\e95f";
}


.icon-insert-down:before {
  content: "\e960";
}


.icon-insert-left:before {
  content: "\e961";
}


.icon-insert-right:before {
  content: "\e962";
}


.icon-insert-up:before {
  content: "\e963";
}


.icon-instagram:before {
  content: "\e964";
}


.icon-integrations:before {
  content: "\e965";
}


.icon-interactive:before {
  content: "\e966";
}


.icon-ios:before {
  content: "\e967";
}


.icon-italic:before {
  content: "\e968";
}


.icon-keyboard-shortcut:before {
  content: "\e969";
}


.icon-lifebuoy-outline:before {
  content: "\e96a";
}


.icon-lightbulb-filled-yellow:before {
  content: "\e96b";
}


.icon-lightbulb:before {
  content: "\e96c";
}


.icon-like:before {
  content: "\e96d";
}


.icon-liked:before {
  content: "\e96e";
}


.icon-link:before {
  content: "\e96f";
}


.icon-linkedin:before {
  content: "\e970";
}


.icon-linux:before {
  content: "\e971";
}


.icon-list-view:before {
  content: "\e972";
}


.icon-location:before {
  content: "\e973";
}


.icon-locked:before {
  content: "\e974";
}


.icon-long-arrow-left:before {
  content: "\e975";
}


.icon-long-arrow-right:before {
  content: "\e976";
}


.icon-magic-full-stars:before {
  content: "\e977";
}


.icon-magic:before {
  content: "\e978";
}


.icon-markdown:before {
  content: "\e979";
}


.icon-mention:before {
  content: "\e97a";
}


.icon-merged-pr:before {
  content: "\e97b";
}


.icon-mermaid:before {
  content: "\e97c";
}


.icon-minimize:before {
  content: "\e97d";
}


.icon-more-slim:before {
  content: "\e97e";
}


.icon-more-vertical-centered:before {
  content: "\e97f";
}


.icon-more-vertical:before {
  content: "\e980";
}


.icon-more:before {
  content: "\e981";
}


.icon-move:before {
  content: "\e982";
}


.icon-next-browsing:before {
  content: "\e983";
}


.icon-not-allowed:before {
  content: "\e984";
}


.icon-notion:before {
  content: "\e985";
}


.icon-ol:before {
  content: "\e986";
}


.icon-outbound-link:before {
  content: "\e987";
}


.icon-overview:before {
  content: "\e988";
}


.icon-pencil:before {
  content: "\e989";
}


.icon-pending:before {
  content: "\e98a";
}


.icon-pin:before {
  content: "\e98b";
}


.icon-plan:before {
  content: "\e98c";
}


.icon-plans:before {
  content: "\e98d";
}


.icon-play-outline:before {
  content: "\e98e";
}


.icon-playlist:before {
  content: "\e98f";
}


.icon-plugins:before {
  content: "\e990";
}


.icon-pr:before {
  content: "\e991";
}


.icon-private-cloud-doc:before {
  content: "\e992";
}


.icon-private:before {
  content: "\e993";
}


.icon-quote:before {
  content: "\e994";
}


.icon-refresh:before {
  content: "\e995";
}


.icon-regex:before {
  content: "\e996";
}


.icon-repo-provider:before {
  content: "\e997";
}


.icon-request-demo:before {
  content: "\e998";
}


.icon-resize-expand:before {
  content: "\e999";
}


.icon-resize-shrink:before {
  content: "\e99a";
}


.icon-reviewer:before {
  content: "\e99b";
}


.icon-robot:before {
  content: "\e99c";
}


.icon-search:before {
  content: "\e99d";
}


.icon-security-shield:before {
  content: "\e99e";
}


.icon-send:before {
  content: "\e99f";
}


.icon-settings2:before {
  content: "\e9a0";
}


.icon-share:before {
  content: "\e9a1";
}


.icon-shortcut:before {
  content: "\e9a2";
}


.icon-shrink:before {
  content: "\e9a3";
}


.icon-signout:before {
  content: "\e9a4";
}


.icon-simplified-code:before {
  content: "\e9a5";
}


.icon-slack:before {
  content: "\e9a6";
}


.icon-snippet-highlight:before {
  content: "\e9a7";
}


.icon-sort:before {
  content: "\e9a8";
}


.icon-star-filled:before {
  content: "\e9a9";
}


.icon-star-outline:before {
  content: "\e9aa";
}


.icon-start-outline:before {
  content: "\e9ab";
}


.icon-stats:before {
  content: "\e9ac";
}


.icon-strike:before {
  content: "\e9ad";
}


.icon-sync-code:before {
  content: "\e9ae";
}


.icon-sync-token:before {
  content: "\e9af";
}


.icon-sync:before {
  content: "\e9b0";
}


.icon-tab:before {
  content: "\e9b1";
}


.icon-table:before {
  content: "\e9b2";
}


.icon-tag:before {
  content: "\e9b3";
}


.icon-task:before {
  content: "\e9b4";
}


.icon-team:before {
  content: "\e9b5";
}


.icon-template:before {
  content: "\e9b6";
}


.icon-terminal:before {
  content: "\e9b7";
}


.icon-text-bullet:before {
  content: "\e9b8";
}


.icon-text-headline:before {
  content: "\e9b9";
}


.icon-text-headline2:before {
  content: "\e9ba";
}


.icon-text-headline3:before {
  content: "\e9bb";
}


.icon-time:before {
  content: "\e9bc";
}


.icon-topic-add:before {
  content: "\e9bd";
}


.icon-topic-api:before {
  content: "\e9be";
}


.icon-topic-feature:before {
  content: "\e9bf";
}


.icon-topic-flow:before {
  content: "\e9c0";
}


.icon-topic-general:before {
  content: "\e9c1";
}


.icon-topic-integration:before {
  content: "\e9c2";
}


.icon-topic-overview:before {
  content: "\e9c3";
}


.icon-trash-fill:before {
  content: "\e9c4";
}


.icon-trash-outline:before {
  content: "\e9c5";
}


.icon-tutorial:before {
  content: "\e9c6";
}


.icon-twitter:before {
  content: "\e9c7";
}


.icon-ul:before {
  content: "\e9c8";
}


.icon-unavailable:before {
  content: "\e9c9";
}


.icon-union:before {
  content: "\e9ca";
}


.icon-update:before {
  content: "\e9cb";
}


.icon-updated:before {
  content: "\e9cc";
}


.icon-upload:before {
  content: "\e9cd";
}


.icon-video-fill:before {
  content: "\e9ce";
}


.icon-video:before {
  content: "\e9cf";
}


.icon-warning-fill:before {
  content: "\e9d0";
}


.icon-warning:before {
  content: "\e9d1";
}


.icon-window-unavailable:before {
  content: "\e9d2";
}


.icon-windows:before {
  content: "\e9d3";
}


.icon-workflow:before {
  content: "\e9d4";
}


.icon-workspace:before {
  content: "\e9d5";
}


.icon-youtube:before {
  content: "\e9d6";
}

/* Automatic class generation: end */
